.main-page-container {
    display: flex !important;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 2rem;

}

.main-page-container>* {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}


@media (min-width: 992px) {

    .main-page-container>* {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .main-page-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}



