.main-page-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 2rem;
}

.main-page-container>* {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.layout-title {
    align-items: center;
    width: 100%;
    padding: 0px;

    font-weight: 600;
    color: var(--accent-color);
}

@media (min-width: 992px) {
    .main-page-container > *{
        width: 80%;
        margin-inline: auto;
    }
}

@media (max-width: 991px) {
    .main-page-container > * {
        width: calc(100% - 1.5rem);
        margin-inline: auto;
    }

    .layout-title {
        display: none;
    }
}