.services-body {
  height: calc(100% - 7rem);
  width: 100%;
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}

.services-main {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  max-width: 70rem;
  gap: 1rem;

  background-color: #f8f9fa;
  padding: 3rem;
}

.services-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  gap: 1rem;
}

.services-dropdown > div:first-child {
  font-weight: 600;
  font-size: smaller;
  color: var(--accent-color);
}

.services-dropdown > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: clamp(16px, 5vw, 34px);
  font-weight: 600;
}

.services-dropdown-bt,
.services-dropdown-bt:focus,
.services-dropdown-bt:hover,
.services-dropdown-bt::after {
  font-size: clamp(16px, 5vw, 34px);
  background-color: white !important;
  box-shadow: none !important;
  color: var(--accent-color);
  font-weight: 600;
  border: none;
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

@media (max-width: 1313px) {
  .services-main {
    max-width: 100%;
    padding: 1rem;
    background-color:white;
  }
}
