:root {
  --accent-color: #227a4b;
  --light-color: #227a4b;
  --hiddend-color: #1f2321;
  --clear-color: #ffffff;
}


body {
  margin: 0;
}

.root{
  height: 100vh;
}

.App {
  height: 100vh;
  
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

.App > header {
  grid-area: header;
}

.App > main {
  grid-area: main;
  padding: 15px 5px 10px 5px;
}

.App > footer {
  grid-area: footer;
}
