:root {
  --accent-color: #227a4b;
  --light-color: #227a4b;
  --dark-color: #135733;
  --hiddend-color: #1f2321;
  --clear-color: #ffffff;
}


body {
  margin: 0;
}

.root{
  height: 100vh;
}

.App {
  height: 100vh;
}


html, body, .root , .App {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 75px;
}

main {
  flex: auto;
  background-color: #ccc;
}

footer {
  height: 100px;
}
